.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  li {
    a {
      font-size: 1rem;
      font-weight: 600;
    }

    a a:hover {
      color: brown;
    }
  }
}
