.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--line-gray);

  ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  li {
    a {
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-normal);
    }

    a:hover {
      color: var(--brand);
    }
  }
}
